.movieCard {
    list-style: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.movieCard:hover {
    opacity: 0.8;
}

.movieImage {
    border-radius: 10px;
    background-color: rgb(233, 231, 231);
}

@media (max-width: 560px) {
    .movieImage {
        width: 90%;
        height: auto;
    }
}